{% extends 'teacher/theader.html' %}
{% load static %}

{%block content%}
<form method="POST" action="{% url 'searchstudent2' %} " style="margin-left:35%; width:40%;margin-top:12%; ">
    {% csrf_token %}
    <fieldset>
     
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Enter students userName <i class="fa-solid fa-graduation-cap"></i></label>
            <input type="text" name="name" class="form-control" id="exampleInputEmail1"  placeholder="Enter Students username" style="width:60%">
          </div>
      <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-top:4px" >Search</button>
        </fieldset>
    </form>
{%endblock %}