<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <form method="POST" action="{% url 'tsignup' %}" >
            {% csrf_token %}
            <label class>Enter username name: </label><br>
            <input  type="text" name ="username" required></input><br>
            <label class>Enter id: </label><br>
            <input  type="text" name ="idd" required></input><br>
            <label class>Enter Firts name: </label><br>
            <input  type="text" name ="fname" required></input><br>
            <label class>Enter last name: </label><br>
            <input  type="text" name ="lname" required></input><br>
            <label class>Enter Department: </label><br>
            <input  type="text" name ="dept" required></input><br>
            <label class>Enter password: </label><br>
            <input type="password" name ="password" required></input><br>
            <br>
            <input  type="submit" name ="signupp" value="signup"></input><br></br>
        </form>
    </main>
	<script src="index.js"></script>
  </body>
</html>