{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href ="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <main>
        {% comment %} welcome  {{user.first_name}}</br>
        <a href="/logoutmain">logout</a></br> {% endcomment %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">{{user.first_name|capfirst}} {{user.last_name|capfirst}} (<i class="fa-solid fa-graduation-cap"></i>Student)</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto" style="margin-left:60%;">
                  <li class="nav-item">
                    <a class="nav-link" href="#"  style="font-size:15px"><i class="fa-solid fa-square-poll-horizontal"></i>Result</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {%if request.path == '/'%} active {%endif%}" href="/"  style="font-size:15px"><i class="fa-solid fa-user"></i>profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {%if request.path == '/advisor/'%} active {%endif%}" href="/advisor" style="font-size:15px"><i class="fa-sharp fa-solid fa-person-chalkboard"></i>advisor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logoutmain" > <i class="fa-solid fa-right-from-bracket"></i>logout</a>
                  </li>
                  
                </ul>
                
              </div>
            </div>
          </nav>
    </main>
    {%block content %}

    {%endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>