{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link href ="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  </head>
  <body style ="background-color:grey">
    <main>
        {% comment %} <a href="/signup">SignUp</a></br>
        <a href="/loginmain">Login</a></br>
        <a href="/logoutmain">logout</a></br> {% endcomment %}

        {% comment %} <a href="/loginmain">    <button type="button" class="btn btn-primary">login</button></a><br>

        <a href="/signup"><button type="button" class="btn btn-secondary">Signup</button></a> {% endcomment %}
       
        <div style="height:600px;width:100%;background-color:grey">
       
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top:20px;margin-left: 10%;margin-right: 10%;border-radius:6px;border-style:double;border-color:lightblue">
          <div class="container-fluid">
            
            <div class="collapse navbar-collapse" id="navbarColor02" style="margin-left:40%;">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/">home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/loginmain">Login
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signupts">Signup</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
   
        {% comment %} <marquee  scrollamount= '30' behavior='Alternate'> {% endcomment %}
{% comment %} <div style="display:flex;">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top:20px;margin-left:10%">
          <div class="card-header">Team Flowers</div>
          <div class="card-body">
            <h4 class="card-title">Members</h4>
            <p class="card-text">Mamun</br>Rayhan</br>Rafi</p>
          </div>
        </div>


        <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-top:20px;margin-left:1%">
          <div class="card-header">Team Flowers</div>
          <div class="card-body">
            <h4 class="card-title">Members</h4>
            <p class="card-text">Mamun</br>Rayhan</br>Rafi</p>
          </div>
        </div> {% endcomment %}
      {% comment %} div end for flex {% endcomment %}

      <div  class="d-flex justify-content-center">
        <div class="card text-white bg-primary mb-3 text-center mt-4 mx-auto" style="max-width: 40rem; width: 100%;">
          <div class="card-header">Team Flowers</div>
          <div class="card-body">
            <h4 class="card-title">Members</h4>
            <p class="card-text">Mamun</br>Rayhan</br>Rafi</p>
          </div>
        </div>
    </div>
      </div>
    {% comment %} </marquee> {% endcomment %}
      {% comment %} this div is for grey colour end {% endcomment %}

    
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>