{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link href ="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <main>
        {% comment %} <form method="POST" action="{% url 'login2' %}" >
            {% csrf_token %}
            <label class>Enter Username name: </label><br>
            <input  type="text" name ="username" required></input><br>
            <label class>Enter password: </label><br>
            <input type="password" name ="password" required></input><br>
            <br>
            <input type="submit" name ="login" value="login">login</input><br>
        </form> {% endcomment %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top:20px;margin-left: 10%;margin-right: 10%;">
          <div class="container-fluid">
            
            <div class="collapse navbar-collapse" id="navbarColor02" style="margin-left:40%">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link " href="/">home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/loginmain">Login
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signupts">Signup</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
        {% comment %} <form method="POST" action="{% url 'login2' %}" >
            {% csrf_token %}
        <div class="form-group mb-7" style="margin-left:10px;">
            
              <label class="w-25 form-label" >Enter Username name:</label>
              <input class="w-25 form-control" id="disabledInput" name ="username" type="text" placeholder="Enter Username name:" required>
        </input>
            </div>
              <div class="form-floating ms-10" style ="margin-top: 10px ; height: 40px;margin-left:10px;">
                <input type="password" class="ms-10 w-25 h-25 form-control " name="password" id="floatingPassword" required>
            </input>
                <label class="w-25" for="floatingPassword">Password</label>
              </div>
          
          <button type="submit" class="btn btn-dark " style="margin-top:20px;margin-left:10px;" name="login">Dark</button>
        </form>  {% endcomment %}


        <form method="POST" action="{% url 'login2' %} " style="margin-left:32%; width:40%;margin-top:30px;border:3px solid black;border-radius:5px ">
          {% csrf_token %}
          <div class="form-outline mb-2 ms-2 mt-2 me-2">
            <input type="text" id="form2Example1" class="form-control " name="username" required/>
            <label class="form-label" for="form2Example1">Enter Username name</label>
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-2 ms-2 me-2">
            <input type="password" id="form2Example2" name="password" class="form-control name=password" required />
            <label class="form-label" for="form2Example2">Password</label>
          </div>
        
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-0 ms-2">
           
          </div>
          <div class="row mb-0 ms-1" >
            <small><p>Not a member? <a href="/signupts">Signup</a></p></small>
           
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-2 ms-2 mt-2" >Log in</button>
        
          <!-- Register buttons -->
         
        </form>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


